body {
    font-family: 'Ubuntu';
    background-color: navy;
    font-size: 2rem; 
}

h1 {
    color: navy;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: 'Arima'; 
}
button {
    background-color: navy;
    color: whitesmoke;
    border: none; 
    border-radius: 9px;
    margin: 1rem 10px 1rem 10px;
    width: 120px; 
    height: 3rem;
    text-align: center;
    font-weight: bold;
    font-size: 1rem; 
    vertical-align: middle;
}
input {
    outline:none; 
}
input:focus {
    border-color:black; 
}
input:disabled {
    background-color: white;
}

.col-1 {
    aspect-ratio: 1;
    text-align: center;
    vertical-align: middle;
    border-radius: 0;
    margin: 0;
    padding: 0;
}
.proposed {
    color: orangered; 
    font-size: 2rem;
}
.proposed:disabled {
    color: orangered; 
}
.notSolved {
    font: 'Sofia Sans Extra Condensed';
    font-size: xx-small;
    color: darkcyan; 
    word-wrap: break-word;
}
.solved {
    font: 'Ubuntu';
    font-size: 2rem;
    color: rgb(139, 0, 76); 
 }
 .solved:disabled {
    color: rgb(139, 0, 76); 
 }

.userEntered {
    color: green; 
}
.userEntered:disabled {
    background-color: whitesmoke;
}

.col-9, .col-10, .col-11, .col-12 {
    text-align: center;
}

.page {
    display: flex;
    flex-direction: column;
 
}

.page {
    background-color: whitesmoke;
    max-width: 800px;
}

.row0 {
    border: none !important; 
    font-weight: bold;
    vertical-align: baseline;
}

.row1, .row4, .row7 {
    border-top: 1px #555555 solid; 
    border-bottom: .5px solid #dddddd; 
}

.row2, .row5, .row8 {
    border-top: .5px solid #dddddd; 
    border-bottom: .5px solid #dddddd; 
}

.row3, .row6, .row9 {
    border-top: .5px solid #dddddd; 
    border-bottom: 1px #555555 solid; 
}

.col0 {
    border-left: none; 
    font-weight: bold;
    border-top-color: whitesmoke !important;
    border-bottom-color: whitesmoke !important;
}
.col1, .col4, .col7 {
    border-left: 1px #555555 solid; 
    border-right: .5px solid #dddddd; 
}

.col2, .col5, .col8 {
    border-left: .5px solid #dddddd; 
    border-right: .5px solid #dddddd; 
}

.col3, .col6 {
    border-left: .5px solid #dddddd; 
    border-right: 1px #555555 solid; 
}
.col9 {
    border-left: .5px solid #dddddd; 
    border-right: 2px #555555 solid; 
}

#alert {
    color: darkred; 
    font-size: 1rem;
}